/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* index.css
*/
#index_header {
    color: pink;
    font-family: helvetica;
    text-align: center;
    border: dotted 3px black;
    border-radius: 15px;
    margin-right: 125px;
    margin-left: 125px;
    padding-bottom: 10px;
    padding-top: 10px;
}
Body{
    background-color: grey;
    
}

ul{
    color: White;
    list-style: none;
    font-family: helvetica;

}
#todo_list_section{
    padding: 15px;
    border: solid 2px black; 
    margin :50px;
}
#add_to_do_button{
margin-left: 250px}

#name_of_todo{
    margin-left: 213px
}

#number_of_pomodoros{
    margin-left: 213px
}

#pomodoros{
    float: right;
}

.pomodoros{
    float: right;
}

.completedtasks{
    text-decoration: line-through;
}

/*show.css*/
#heading_for_show{
    color: pink;
    font-family: helvetica;
    text-align: center;
}

body{
    background-color: grey;
    text-align: center;
     padding: 15px;
    border: solid 2px black; 
    margin :50px;
}
#edit_go_back{
    margin: 20px;
}

li{
    text-decoration: line-through;
    
}