<h1>Edit</h1>
        <form action="/todo/create">
            <div id="name">
                <input type= "text" placeholder =<%= t.description %> />
            </div>
            
            <div id="number_of_pomodoros">
                <input type= "number" placeholder = <%= t.pomodoro_estimate %> />
            </div>
            <div id="add_to_do_button">
                <a href=index.html>       
                    <input type= "submit" value ="Edit the Todo"/>
                </a>
            </div>
        </form>
            <div id="go_back_button">
                <a href=index.html>       
                <input type= "submit" value ="Go Back"/>
                </a>
            </div>
            