  <h1 id="index_header"> Andrew's Todo list </h1>
        <div id="todo_list_section"> 
            
            <ul> 
                <li>
                   <input type="checkbox"/> 
                   <a href="/todo/edit"><%= t.description %></a>
                   <span id="pomodoros"><%= t.pomodoro_estimate ></span>
                </Li>   
                
            </ul>
        </div>
        
        <div>
            <a href=show/2>    
                <input id="add_to_do_button" type= "submit" value ="add todo"/>
            </a>
        </div>
        
