  <h1> Andrew's Todo list </h1>
        <div id="todo_list_section"> 
            
            <ul> 
                <li>
                   <input type="checkbox"/> practice violin 
                   <span id="pomodoros">2 </span>
                </li>
                <li>
                    <input type="checkbox"/> finish homework 
                    <span id="pomodoros">2 </span>
                </li>
                <li>
                   <input type="checkbox"/> read 
                   <span id="pomodoros">2 </span>
                </li>
                <li>
                   <input type="checkbox"/> go to korea 
                   <span id="pomodoros">2 </span>
                </li>
                <Li>
                   <input type="checkbox"/> buy sister her b-day present 
                   <span id="pomodoros">2 </span>
                </Li>   
                
            </ul>
        </div>
        
        <div>
            <!--<a href=show.html>-->       
                <input id="add_to_do_button" type= "submit" value ="add todo"/>
           <!-- </a>-->
        </div>
        
        <div>
            <input id="name_of_todo" type= "text" placeholder ="name of todo..."/>
        </div>
            
        <div>
            <input id="number_of_pomodoros" type= "number" placeholder ="number of pomodoros"/>
        </div>