<h1 id=heading_for_show>Add new todo</h1>
    <form action="/todo/create">
        <input type= "text" placeholder ="Add New Todo..." name="description"/>
        <input type= "number" placeholder ="estimate pomodoros" name="time_estimate"/>
        <input type= "submit" value ="Add"/>
    </form>
        