        <h1 id=heading_for_show>Add new todo</h1>
       
        <input type= "text" placeholder ="Add New Todo..."/>
        
        <input type= "number" placeholder ="estimate pomodoros"/>
        
        <div id="edit_go_back">
           <a href=edit.html> 
             <input type= "submit" value ="Add Todo"/>
            </a>
            <a href ='/todo/index'> 
            <input type= "submit"Go Back</a>
        </div>
        
        <h3><%=@todo.description%></h3>
        <p><%=@todo.pomodoro_estimate%></p>