
        <h1 id=heading_for_show>Add new todo</h1>
       
        <input type= "text" placeholder ="Add New Todo..."/>
        
        <input type= "number" placeholder ="estimate pomodoros"/>
        
        <div id="edit_go_back">
           <a href=edit.html> 
             <input type= "submit" value ="edit "/>
            </a>
            <a href ='index.html'> Go Back</a>
        
        </div>
        
        <h3> practice violin</h3>
        <p>3</p>
        <h3><%=@todo_name%></h3>
        <p><%=@todo_pomodoro%></p>